@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCount10">Click me</button>
<button class="btn btn-primary"  @onclick="IncrementCount100">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void IncrementCount10()
    {
        currentCount += 10;
    }

    private void IncrementCount100()
    {
        currentCount += 100;
    }
}
